body{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.demo {
  margin-left: 46%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #8b8585;
  font-size: x-large;
  padding:30px 30px ;
  width: 30px;
  color: #000;
}

button {
  margin-top: 30px;
  margin: 0 1em 0.1em 0;
  background-color: #000;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  padding: 0.3em 1.8em 0.3em 1.8em;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  &:hover{
    background-color: rgb(216, 200, 179);
    color: #000;
    transition: 0.4s;
    padding: 0.5em 2em 0.5em 2em;
    box-shadow: none;
    
}
}

.number {
  font-size: 220px;
  color: rgb(244, 98, 73);
}

.cricle{
  margin-top: 30px;
  img{
    width: 100px;
    height: 100px;    
  }
}
.cricle-photo.scaled {
width: 150px;
height: 150px;
transition: 1s;
}

